*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h3{
	padding-left: 10%;
	padding-right: 10%;
	font-weight: 700;
}
h4{
	padding-top: 3%;
	font-size: 26px;
	font-weight: 400;
	margin-top: 5%;
}
.btn btn-lg rounded-pill{
	margin-left: 3%;
	margin-right:3%;
}
.btn-dark{
	background-color: #614537;
}

.col-sm-6{
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 1%;
}
body{
	background-color: #FEEEE2;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}
strong{
	font-size: 19px;
}
p{
	font-size: 14px;
}