*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h3{
	padding-left: 10%;
	padding-right: 10%;
	font-weight: 700;
	font-size: 18px;
}
h4{
	font-size: 23px;
	font-weight: 400;
	padding-top: 5%;
	padding-right: 10%;
}
h5{
	font-size: 12px;
}
.btn btn-lg rounded-pill{
	padding-left: 10%;
	padding-right:10%;

}
.btn-dark{
	background-color: #614537;
}
body{
	background-color: #FEEEE2;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}
strong{
	font-size: 12px;
}
p{
	font-size: 10px;
	padding-right: 10%;
}
.img-fluid{
	padding-left: 15%;
	padding-bottom: 5%;
	padding-right: 15%;
}
em{
	font-size: 11px;
}