*{
	margin: 0px;
	padding: 0px;
}
.backimagee{
	width: 100vw;
	height: 100vh;
	position: relative;
	background-size: cover;
	background-image: url('backimage.png');
}
.girl{
	width: 300px;
	height: 300px;
	margin-top: 220px;
	margin-left: 80px;
	clip-path: circle();
	float: left;
}
.girl:hover{
	box-shadow: 6px #black;

}
.text{
	width: 50%;
	float: right;
	background-color: white;
	padding: 50px;
	margin-top: 100px;
	margin-right: 100px;
}
.text h1{
	margin-top: 40px;
}
.text h2{
	margin-top: 30px;
}
.letter{
	font-size: 20px;
	line-height: 30px;
	text-align: justify;
	margin-top: 20px;
}
.letter1{
	font-size: 20px;
	line-height: 30px;
	text-align: justify;
	margin-top: 10px;
}
.icon img{
	weight: 40px;
	height: 40px;
	padding: 5px;
	margin-top: 30px;
	margin-bottom: 30px;
}