/********************** Navbar css below ******************/
#title {
    background-color:#feeee2;
}
.container {
    padding: 3% 15% 10%;
}
.navbar {
    padding: 0 0 4.5rem;
}
.podium-logo {
    width: 10%;
    border-radius: 100%;
    margin: 5px;
}
.dot{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background: whitesmoke;
}
.div-body {
    background-color: #feeee2;
    text-align: left;
    
}
.header-item {
    padding: 0 18px;
}
.header-link {
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
/******************** title css below *********************/

.navi-bar {
    background-color: #65453a ;
}
.header {
    margin-top: 50px;
    position: relative; 
    height: 3000px;
    border: 5px solid black;
}
.solid {
    border:  1px solid black;
}
.solid2 {
    border: 1px solid black;
    margin-top: 1.5in;
}
h3 {
    padding-top: 1in;
}
.forms {
    padding: 18px 0 8px;
}
.div-form {
    position: relative;
    width: 1115px;
    height: 400px;
}
.picture {
    position: absolute;
    top: 70px;
}
.dot2 {
    position: absolute;
    border-radius: 1em;
    border: none;
    width: 150px;
    height: 150px;
    background-color: #d4c2b4;
    left: 150px;
    bottom: 240px;
}
.name {
    position: absolute;
    top: 190px;
}
.text-name{
    position:absolute;
    top: 190px;
    left: 120px;
}
.text-name2 {
    position: absolute;
    top: 190px;
    left: 320px;
}
.years-exp {
    position: absolute;
    top: 270px;
}
.yrs-exp {
    position: absolute;
    top: 270px;
    left: 170px;
}
.description {
    position: absolute;
    top: 350px;
}
.text-area {
    position: absolute;
    top: 350px;
    left: 120px;
}
.drop {
    text-align:center;
    color: black;
}

/********** Gallery Items **********/
.gallery {
    position: relative;
    height: 300px;
}
.gallery-file{
    position: absolute;
    background-color:#d4c2b4;
    top: 50px;
    left: 500px;
    border-radius: 1em;
}
.sub {
    position: absolute;
    width: 100px;
    height: 50px;
    bottom: 25px;
    left: 500px;
    border-radius: 1em;
    
}
/****** Submit Hover ******/

.sub:hover {
    background-color: #65453a;
}

/**************************/
