body{
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.container{
    width: 650px;
    height: 95%;
    margin: 3% 25%;
    border-radius: 20px;
    padding: 0 0 10px 0;
}


.header{
    background-image: url(images/contactheader.jpg);
    background-size: 100%;
    background-position: center;
    padding: 5px 20px 30px 20px;
    border-radius: 20px 20px 0px 0px;
}

h3, h4{
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 3px;
}

span{
    background-color: #e4ecef;
    padding: 2px;
}

h4{
    font-style: italic;
}

.contact{
    background-color: rgba(242,236,232, 0.7);
    border-radius: 0px 0px 20px 20px;
    padding: 30px;
}

form{
    margin: 5% 10% 0% 10%;
}

input, textarea{
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid;
    margin: 4px;
}

input{
    margin-left: 20px;
}

textarea{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
}

input:focus, textarea:focus{
    border-bottom: 1px solid rgb(218, 151, 52);
}

label{
    vertical-align: top;
    padding-right: 2px;
    font-size: 16px;
}

button{
    text-align: center;
    font-weight: bold;
    background-color: #2c2b2b;
    color: #f2ece8;
    padding: 10px 50px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 35%;
}

button:hover{
    background-color: #65453A;
	color: #f2ece8;
}